@media print {
  a {
    text-decoration: none;
  }
  h1, h2, h3, h4 {
    margin: 0 0 6px;
  }
  h3 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 800;
    color: #002D72;
  }
  h4 {
    display: none;
  }
  #page-title--container {
    display: none;
  }
  #q-sub {
    margin: 0;
  }
  table {
    margin: 0 -10px 0;
    border-spacing: 10px 3px;
    width: calc(100% + 20px);
  }

  table tr td {
    min-height: 14px;
    padding: 6px;
    font-size: 10px;
    line-height: 15px;
    height: unset;
    margin-bottom: 10px;
    text-align: right;
	background-color: #54565A25;
    color: #54565A;
  }
  table tr td:before {
  	content: attr(data-title) !important;
  	float: left;
  }
  input, select {
    position: static;
    display: inline;
    width: auto;
    padding: 0;
    text-align: right;
  }
  td.input, td.select {
    background-color: #002D7225;
    color: #002D72;
	}
  table tr td.label {
  	display: none;
  }
  hr {
    margin: 12px 0;
  }
  .select:after {
    display: none;
  }
  td.dollar-amount:after {
    content: '$';
    float: right;
  }
  td.input.dollar-amount input {
    padding-left: 0;
  }
}