#q-sub {
	max-width: 800px;
	margin: 0 auto;
}
.title {
	display: block;
	margin-bottom: 21px;
	text-align: center;
}
.label {
	color: pink;
}
table {
	width: 100%;
	table-layout: fixed;
}

table:nth-child(1),
table:nth-child(2),
table:nth-child(3) {
	table-layout: fixed;
}
.inline {
	table-layout: fixed;
	display: inline-table;
	width: 49.7%;
}
table.centered {
	text-align: center;
}
table tr td.cell-centered,
table tr td.cell-centered input {
	text-align: center;
}
table tr td.no-bottom-border {
	border-bottom: none;
}
input[type=number] {
	text-align: right;
}
input,
select {
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: 22px;
	top: 0;
	left: 0;
	background-color: #fff;
	outline: none;
	border: none;
	color: #002D72;
}
table tr td.cell-break {
	border-bottom: none;
	min-width: 6px;
}
.table-stack {
	display: inline-flex;
	flex-direction: column;
}
.table-stack.bottom {
	vertical-align: bottom;
}

select {
	cursor: pointer;
}
select option {
	background-color: #fff;
}
.dollar-amount {
	text-align: right;
}
.dollar-amount:before {
	content: '$';
	position: absolute;
}
input.dollar-amount {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='25px'><text x='2' y='13' fill='black' font-size='10' font-family='Calibri'>$</text></svg>");
	background-size: contain;
	background-repeat: no-repeat;
}
.percentage:after {
	content: '%'
}